<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>灯笼鱼_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,70},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,700},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,770},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,840},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,910},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,980},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,1050},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,1120},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,1190},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,1260},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,1330},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,140},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,1400},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,1470},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,1540},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,210},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,280},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,350},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,420},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,490},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,560},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯笼鱼_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{0,630},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish_0.png</string>
            <key>size</key>
            <string>{160,1610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e120c87a7af7b960bb79378251c243:b38cf43fc9441da72c9f1988894ab505:7757e998fad26dea7c4807d5ac51304b$</string>
            <key>textureFileName</key>
            <string>fish_0.png</string>
        </dict>
    </dict>
</plist>
